# Import necessary modules and libraries

In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
import psycopg2

# Loading the datasets

In [4]:
# loading the datasets
try:
    float_df = pd.read_csv("Float - allocations.csv.csv")
    clickup_df = pd.read_csv("ClickUp - clickup.csv.csv")
    print("Datasets loaded successfully!")
except Exception as e:
    print(f"Error loading datasets: {e}")
    raise

Datasets loaded successfully!

# Data cleaning and preparation

In [5]:

try:
    # Drop duplicates and reset index for `float_df`
    float_df = float_df.drop_duplicates().reset_index(drop=True)
    float_df["float_id"] = float_df.index + 1

    # Convert date columns in float_df into datetime format
    float_df["Start Date"] = pd.to_datetime(float_df["Start Date"])
    float_df["End Date"] = pd.to_datetime(float_df["End Date"])

    # Normalize column names for `float_df`
    float_df.columns = [col.strip().replace(" ", "_").lower() for col in float_df.columns]

    # Drop duplicates for clickup_df 
    clickup_df = clickup_df.drop_duplicates().reset_index(drop=True)
    clickup_df["clickup_id"] = clickup_df.index + 1
    clickup_df.columns = [col.strip().replace(" ", "_").lower() for col in clickup_df.columns]
    print("Data cleaning successful!")
except Exception as e:
    print(f"Error during data cleaning: {e}")
    raise

Data cleaning successful!

In [6]:
# Checking for missing values in each column of float_df
print(float_df.isnull().sum())

client             0
project            0
role               0
name               0
task               0
start_date         0
end_date           0
estimated_hours    0
float_id           0
dtype: int64

In [7]:
float_df

,client,project,role,name,task,start_date,end_date,estimated_hours,float_id
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112,1
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24,2
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189,3
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77,4
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92,5
5,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112,6
6,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32,7
7,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24,8
8,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182,9
9,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182,10
10,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52,11
11,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0,12
12,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36,13

In [8]:
# # Checking for missing values in each column of clickup_df
print(clickup_df.isnull().sum())

client        0
project       0
name          0
task          0
date          0
hours         0
note          0
billable      0
clickup_id    0
dtype: int64

In [9]:
clickup_df

,client,project,name,task,date,hours,note,billable,clickup_id
0,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-03,6.5,Refined design elements,Yes,1
1,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-04,6.5,Drafted initial design concepts,Yes,2
2,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-05,6.0,Drafted initial design concepts,Yes,3
3,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-06,7.0,Made revisions to design based on feedback,Yes,4
4,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-07,7.0,Made revisions to design based on feedback,Yes,5
...,...,...,...,...,...,...,...,...,...
451,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-24,0.0,Checked in on project progress,Yes,452
452,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-25,0.0,Communicated with client,Yes,453
453,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-26,0.0,Checked in on project progress,Yes,454
454,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-27,0.0,Facilitated team meeting,Yes,455
455,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-28,0.0,Facilitated team meeting,Yes,456

# Transform the datasets into dimensional and fact tables

In [10]:
# create Dim_Team_Member dimesion
try:
    dim_team_member = float_df[['name', 'role']].drop_duplicates().reset_index(drop=True)
    dim_team_member['Team_Member_ID'] = dim_team_member.index + 1
    dim_team_member = dim_team_member[['Team_Member_ID', 'name', 'role']]
except Exception as e:
    print(f"Error during creatind dim_team_member: {e}")
    raise

In [11]:
dim_team_member

   Team_Member_ID                  name                        role
0               1    Isabella Rodriguez            Product Designer
1               2            John Smith              Design Manager
2               3               Liu Wei          Front End Engineer
3               4           Emily Patel                 QA Engineer
4               5              Ali Khan             Project Manager
5               6                 Xu Li              Brand Designer
6               7  Vladyslav Shevchenko  Localization Specialist UK
7               8            Ana Suarez              Brand Designer

In [12]:
# Dim_Project
try:
    dim_project = float_df[['project', 'client']].drop_duplicates().reset_index(drop=True)
    dim_project['Project_ID'] = dim_project.index + 1
    dim_project = dim_project[['Project_ID', 'client', 'project']]
except Exception as e:
    print(f"Error during creating dim_project: {e}")
    raise

In [13]:
dim_project

   Project_ID    client                       project
0           1  Client 1           Website Development
1           2  Client 1               Brand Guideline
2           3  Client 2  Book Localization to Ukraine

In [14]:
# Dim_Task
try:
    dim_task = clickup_df[['task', 'billable']].drop_duplicates().reset_index(drop=True)
    dim_task['Task_ID'] = dim_task.index + 1
    dim_task = dim_task[['Task_ID', 'task', 'billable']]
except Exception as e:
    print(f"Error during creating dim_task: {e}")
    raise

In [15]:
dim_task

    Task_ID             task billable
0         1           Design      Yes
1         2  Project Meeting       No
2         3           Design       No
3         4      Development      Yes
4         5      Development       No
5         6          Testing      Yes
6         7          Testing       No
7         8       Management      Yes
8         9       Management       No
9        10     Localization      Yes
10       11     Localization       No

In [16]:
# Create Dim_Date table
try:
    unique_dates = pd.to_datetime(clickup_df['date']).drop_duplicates().reset_index(drop=True)
    dim_date = pd.DataFrame({'date': unique_dates})
    dim_date['Date_ID'] = dim_date.index + 1
    dim_date['Year'] = dim_date['date'].dt.year
    dim_date['Month'] = dim_date['date'].dt.month_name()
    dim_date['Day'] = dim_date['date'].dt.day
    dim_date['Week'] = dim_date['date'].dt.isocalendar().week
    dim_date['Quarter'] = dim_date['date'].dt.quarter
    dim_date = dim_date[['Date_ID', 'Day', 'Week', 'Month', 'Quarter','Year', 'date' ]]
except Exception as e:
    print(f"Error during creating dim_date: {e}")
    raise

In [17]:
dim_date

    Date_ID  Day  Week Month  Quarter  Year       date
0         1    3    27  July        3  2023 2023-07-03
1         2    4    27  July        3  2023 2023-07-04
2         3    5    27  July        3  2023 2023-07-05
3         4    6    27  July        3  2023 2023-07-06
4         5    7    27  July        3  2023 2023-07-07
..      ...  ...   ...   ...      ...   ...        ...
59       60   26    30  July        3  2023 2023-07-26
60       61   27    30  July        3  2023 2023-07-27
61       62   28    30  July        3  2023 2023-07-28
62       63   29    30  July        3  2023 2023-07-29
63       64   30    30  July        3  2023 2023-07-30

[64 rows x 7 columns]

In [18]:
# merge on dim_team_member dimension table on dim_project
fact_allocations = float_df.merge(dim_team_member, on=['name', 'role']) \
    .merge(dim_project, on=['project', 'client'])

In [19]:
fact_allocations

,client,project,role,name,task,start_date,end_date,estimated_hours,float_id,Team_Member_ID,Project_ID
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112,1,1,1
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24,2,2,1
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189,3,3,1
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77,4,4,1
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92,5,5,1
5,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32,7,2,2
6,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24,8,5,2
7,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112,6,6,2
8,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52,11,2,3
9,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36,13,5,3
10,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182,10,6,3
11,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182,9,7,3
12,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0,12,8,3

In [20]:
fact_allocations = fact_allocations[['Team_Member_ID', 'Project_ID', 'task', 'start_date', 'end_date', 'estimated_hours']]

In [21]:
fact_allocations

,Team_Member_ID,Project_ID,task,start_date,end_date,estimated_hours
0,1,1,Design,2023-07-03,2023-07-24,112
1,2,1,Design,2023-07-03,2023-07-24,24
2,3,1,Development,2023-07-31,2023-08-28,189
3,4,1,Testing,2023-08-21,2023-09-04,77
4,5,1,Management,2023-07-03,2023-09-04,92
5,2,2,Design,2023-07-03,2023-07-24,32
6,5,2,Management,2023-07-03,2023-07-24,24
7,6,2,Design,2023-07-03,2023-07-24,112
8,2,3,Design,2023-07-24,2023-08-28,52
9,5,3,Management,2023-07-10,2023-08-28,36
10,6,3,Design,2023-07-24,2023-08-28,182
11,7,3,Localization,2023-07-10,2023-08-14,182
12,8,3,Design,2023-07-24,2023-08-28,0

In [22]:
# merge fact_allocations on dim_task

fact_allocations = fact_allocations.merge(dim_task, on='task', how='left')
fact_allocations.rename(columns={
    'start date': 'Start_Date',
    'end date': 'End_Date',
    'estimated hours': 'Estimated_Hours'
}, inplace=True)

In [23]:
fact_allocations

,Team_Member_ID,Project_ID,task,start_date,end_date,estimated_hours,Task_ID,billable
0,1,1,Design,2023-07-03,2023-07-24,112,1,Yes
1,1,1,Design,2023-07-03,2023-07-24,112,3,No
2,2,1,Design,2023-07-03,2023-07-24,24,1,Yes
3,2,1,Design,2023-07-03,2023-07-24,24,3,No
4,3,1,Development,2023-07-31,2023-08-28,189,4,Yes
5,3,1,Development,2023-07-31,2023-08-28,189,5,No
6,4,1,Testing,2023-08-21,2023-09-04,77,6,Yes
7,4,1,Testing,2023-08-21,2023-09-04,77,7,No
8,5,1,Management,2023-07-03,2023-09-04,92,8,Yes
9,5,1,Management,2023-07-03,2023-09-04,92,9,No
10,2,2,Design,2023-07-03,2023-07-24,32,1,Yes
11,2,2,Design,2023-07-03,2023-07-24,32,3,No
12,5,2,Management,2023-07-03,2023-07-24,24,8,Yes
13,5,2,Management,2023-07-03,2023-07-24,24,9,No
14,6,2,Design,2023-07-03,2023-07-24,112,1,Yes
15,6,2,Design,2023-07-03,2023-07-24,112,3,No
16,2,3,Design,2023-07-24,2023-08-28,52,1,Yes
17,2,3,Design,2023-07-24,2023-08-28,52,3,No
18,5,3,Management,2023-07-10,2023-08-28,36,8,Yes
19,5,3,Management,2023-07-10,2023-08-28,36,9,No
20,6,3,Design,2023-07-24,2023-08-28,182,1,Yes
21,6,3,Design,2023-07-24,2023-08-28,182,3,No
22,7,3,Localization,2023-07-10,2023-08-14,182,10,Yes
23,7,3,Localization,2023-07-10,2023-08-14,182,11,No
24,8,3,Design,2023-07-24,2023-08-28,0,1,Yes
25,8,3,Design,2023-07-24,2023-08-28,0,3,No

In [24]:

fact_allocations['start_date'] = pd.to_datetime(fact_allocations['start_date'])
fact_allocations = fact_allocations.merge(dim_date[['date', 'Date_ID']], left_on='start_date', right_on='date', how='left')
fact_allocations.drop(columns=['date'], inplace=True)

In [25]:
fact_allocations

,Team_Member_ID,Project_ID,task,start_date,end_date,estimated_hours,Task_ID,billable,Date_ID
0,1,1,Design,2023-07-03,2023-07-24,112,1,Yes,1
1,1,1,Design,2023-07-03,2023-07-24,112,3,No,1
2,2,1,Design,2023-07-03,2023-07-24,24,1,Yes,1
3,2,1,Design,2023-07-03,2023-07-24,24,3,No,1
4,3,1,Development,2023-07-31,2023-08-28,189,4,Yes,23
5,3,1,Development,2023-07-31,2023-08-28,189,5,No,23
6,4,1,Testing,2023-08-21,2023-09-04,77,6,Yes,44
7,4,1,Testing,2023-08-21,2023-09-04,77,7,No,44
8,5,1,Management,2023-07-03,2023-09-04,92,8,Yes,1
9,5,1,Management,2023-07-03,2023-09-04,92,9,No,1
10,2,2,Design,2023-07-03,2023-07-24,32,1,Yes,1
11,2,2,Design,2023-07-03,2023-07-24,32,3,No,1
12,5,2,Management,2023-07-03,2023-07-24,24,8,Yes,1
13,5,2,Management,2023-07-03,2023-07-24,24,9,No,1
14,6,2,Design,2023-07-03,2023-07-24,112,1,Yes,1
15,6,2,Design,2023-07-03,2023-07-24,112,3,No,1
16,2,3,Design,2023-07-24,2023-08-28,52,1,Yes,22
17,2,3,Design,2023-07-24,2023-08-28,52,3,No,22
18,5,3,Management,2023-07-10,2023-08-28,36,8,Yes,8
19,5,3,Management,2023-07-10,2023-08-28,36,9,No,8
20,6,3,Design,2023-07-24,2023-08-28,182,1,Yes,22
21,6,3,Design,2023-07-24,2023-08-28,182,3,No,22
22,7,3,Localization,2023-07-10,2023-08-14,182,10,Yes,8
23,7,3,Localization,2023-07-10,2023-08-14,182,11,No,8
24,8,3,Design,2023-07-24,2023-08-28,0,1,Yes,22
25,8,3,Design,2023-07-24,2023-08-28,0,3,No,22

# Load data into the database(postgres)

In [26]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('postgresql://postgres:liltims@localhost:5433/postgres')

In [28]:
engine.connect()

In [29]:
# Database Loading
try:
    # Load tables into the database
    dim_team_member.to_sql("dim_team_member", engine, if_exists="replace", index=False)
    dim_task.to_sql("dim_task", engine, if_exists="replace", index=False)
    dim_project.to_sql("dim_project", engine, if_exists="replace", index=False)
    dim_date.to_sql("dim_date", engine, if_exists="replace", index=False)
    fact_allocations.to_sql("fact_allocations", engine, if_exists="replace", index=False)
    print("Data loaded into the database successfully!")
except Exception as e:
    print(f"Error loading data into the database: {e}")
    raise

Data loaded into the database successfully!