In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
import psycopg2

In [4]:
# load datasets
float_df = pd.read_csv("Float - allocations.csv.csv")
clickup_df = pd.read_csv("ClickUp - clickup.csv.csv")

In [5]:
# clickup_df = clickup_df.drop_duplicates().reset_index(drop=True)
# clickup_df['clickup_id'] = df.index

clickup_df = clickup_df.drop_duplicates().reset_index(drop=True)
clickup_df['ClickUp_ID'] = clickup_df.index + 1

In [6]:
clickup_df

,Client,Project,Name,Task,Date,Hours,Note,Billable,ClickUp_ID
0,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-03,6.5,Refined design elements,Yes,1
1,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-04,6.5,Drafted initial design concepts,Yes,2
2,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-05,6.0,Drafted initial design concepts,Yes,3
3,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-06,7.0,Made revisions to design based on feedback,Yes,4
4,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-07,7.0,Made revisions to design based on feedback,Yes,5
...,...,...,...,...,...,...,...,...,...
451,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-24,0.0,Checked in on project progress,Yes,452
452,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-25,0.0,Communicated with client,Yes,453
453,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-26,0.0,Checked in on project progress,Yes,454
454,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-27,0.0,Facilitated team meeting,Yes,455
455,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-28,0.0,Facilitated team meeting,Yes,456

In [7]:

float_df = float_df.drop_duplicates().reset_index(drop=True)
float_df['ClickUp_ID'] = float_df.index + 1

In [8]:
float_df

,Client,Project,Role,Name,Task,Start Date,End Date,Estimated Hours,ClickUp_ID
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112,1
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24,2
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189,3
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77,4
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92,5
5,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112,6
6,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32,7
7,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24,8
8,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182,9
9,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182,10
10,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52,11
11,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0,12
12,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36,13

In [9]:
# Checking for missing values in each column of float_df
print(float_df.isnull().sum())

Client             0
Project            0
Role               0
Name               0
Task               0
Start Date         0
End Date           0
Estimated Hours    0
ClickUp_ID         0
dtype: int64

In [10]:
# # Checking for missing values in each column of clickup_df
print(clickup_df.isnull().sum())

Client        0
Project       0
Name          0
Task          0
Date          0
Hours         0
Note          0
Billable      0
ClickUp_ID    0
dtype: int64

In [11]:
float_df

,Client,Project,Role,Name,Task,Start Date,End Date,Estimated Hours,ClickUp_ID
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112,1
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24,2
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189,3
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77,4
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92,5
5,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112,6
6,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32,7
7,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24,8
8,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182,9
9,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182,10
10,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52,11
11,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0,12
12,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36,13

In [12]:
clickup_df

,Client,Project,Name,Task,Date,Hours,Note,Billable,ClickUp_ID
0,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-03,6.5,Refined design elements,Yes,1
1,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-04,6.5,Drafted initial design concepts,Yes,2
2,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-05,6.0,Drafted initial design concepts,Yes,3
3,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-06,7.0,Made revisions to design based on feedback,Yes,4
4,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-07,7.0,Made revisions to design based on feedback,Yes,5
...,...,...,...,...,...,...,...,...,...
451,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-24,0.0,Checked in on project progress,Yes,452
452,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-25,0.0,Communicated with client,Yes,453
453,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-26,0.0,Checked in on project progress,Yes,454
454,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-27,0.0,Facilitated team meeting,Yes,455
455,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-28,0.0,Facilitated team meeting,Yes,456

In [13]:
pd.io.sql.get_schema(clickup_df, name='ClickUp - clickup.csv.csv')

'CREATE TABLE "ClickUp - clickup.csv.csv" (\n"Client" TEXT,\n  "Project" TEXT,\n  "Name" TEXT,\n  "Task" TEXT,\n  "Date" TEXT,\n  "Hours" REAL,\n  "Note" TEXT,\n  "Billable" TEXT,\n  "ClickUp_ID" INTEGER\n)'

In [14]:
print(pd.io.sql.get_schema(clickup_df, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TEXT,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT,
  "ClickUp_ID" INTEGER
)

In [15]:
pd.io.sql.get_schema(float_df, name='Float - allocations.csv.csv"')

'CREATE TABLE "Float - allocations.csv.csv""" (\n"Client" TEXT,\n  "Project" TEXT,\n  "Role" TEXT,\n  "Name" TEXT,\n  "Task" TEXT,\n  "Start Date" TEXT,\n  "End Date" TEXT,\n  "Estimated Hours" INTEGER,\n  "ClickUp_ID" INTEGER\n)'

In [16]:
print(pd.io.sql.get_schema(float_df, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Role" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Start Date" TEXT,
  "End Date" TEXT,
  "Estimated Hours" INTEGER,
  "ClickUp_ID" INTEGER
)

In [17]:
clickup_df.Date = pd.to_datetime(clickup_df.Date)

In [18]:
for column in clickup_df.columns:
    if column not in ['Date','Hours']:
        clickup_df[column] = clickup_df[column].astype(str)
from pandas.io.sql import get_schema
print(get_schema(clickup_df, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TIMESTAMP,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT,
  "ClickUp_ID" TEXT
)

In [19]:
print(pd.io.sql.get_schema(clickup_df, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TIMESTAMP,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT,
  "ClickUp_ID" TEXT
)

In [20]:
float_df['Start Date'] = pd.to_datetime(float_df['Start Date'])
float_df['End Date'] = pd.to_datetime(float_df['End Date'])

for column in float_df.columns:
    if column not in ['Start Date', 'End Date', 'Estimated Hours']:
        float_df[column] = float_df[column].astype(str)
print(float_df.columns)

Index(['Client', 'Project', 'Role', 'Name', 'Task', 'Start Date', 'End Date',
       'Estimated Hours', 'ClickUp_ID'],
      dtype='object')

In [21]:
print(pd.io.sql.get_schema(float_df, name='Float - allocations.csv.csv'))

CREATE TABLE "Float - allocations.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Role" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Start Date" TIMESTAMP,
  "End Date" TIMESTAMP,
  "Estimated Hours" INTEGER,
  "ClickUp_ID" TEXT
)

In [22]:
# Clean data: Normalize float_df column names 
float_df.columns = [col.strip().replace(" ", "_").lower() for col in float_df.columns]

In [23]:
float_df

,client,project,role,name,task,start_date,end_date,estimated_hours,clickup_id
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112,1
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24,2
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189,3
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77,4
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92,5
5,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112,6
6,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32,7
7,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24,8
8,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182,9
9,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182,10
10,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52,11
11,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0,12
12,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36,13

In [24]:
# Clean data: Normalize clickup_df column names 
clickup_df.columns = [col.strip().replace(" ", "_").lower() for col in clickup_df.columns]

In [25]:
clickup_df

,client,project,name,task,date,hours,note,billable,clickup_id
0,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-03,6.5,Refined design elements,Yes,1
1,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-04,6.5,Drafted initial design concepts,Yes,2
2,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-05,6.0,Drafted initial design concepts,Yes,3
3,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-06,7.0,Made revisions to design based on feedback,Yes,4
4,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-07,7.0,Made revisions to design based on feedback,Yes,5
...,...,...,...,...,...,...,...,...,...
451,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-24,0.0,Checked in on project progress,Yes,452
452,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-25,0.0,Communicated with client,Yes,453
453,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-26,0.0,Checked in on project progress,Yes,454
454,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-27,0.0,Facilitated team meeting,Yes,455
455,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-28,0.0,Facilitated team meeting,Yes,456

In [26]:
# Create Dim_Team_Members

dim_team_members = float_df[['name', 'role']].drop_duplicates().reset_index(drop=True)
dim_team_members['Team_Member_ID'] = dim_team_members.index + 1
dim_team_members = dim_team_members[['Team_Member_ID', 'name', 'role']]

In [27]:
dim_team_members

   Team_Member_ID                  name                        role
0               1    Isabella Rodriguez            Product Designer
1               2            John Smith              Design Manager
2               3               Liu Wei          Front End Engineer
3               4           Emily Patel                 QA Engineer
4               5              Ali Khan             Project Manager
5               6                 Xu Li              Brand Designer
6               7  Vladyslav Shevchenko  Localization Specialist UK
7               8            Ana Suarez              Brand Designer

In [ ]:
# Create Dim_Projects
dim_projects = pd.concat([clickup_df[['project']], float_df[['project']]])
dim_projects = dim_projects.drop_duplicates().reset_index(drop=True)
dim_projects['Project_ID'] = dim_projects.index + 1
dim_projects = dim_projects[['Project_ID', 'project']]

In [ ]:
dim_projects

In [ ]:
# Create Dim_Date (Date Dimension)
date_range = pd.date_range(start='2022-01-01', end='2023-12-31')
dim_date = pd.DataFrame({
    'Date_ID': range(1, len(date_range) + 1),
    'Date': date_range,
    'Month': date_range.month,
    'Year': date_range.year
})

In [ ]:
dim_date

In [ ]:

# Merge datasets to create Fact_Allocations Join ClickUp and Float on Name and Project to combine tracked(hours) and allocated hours(estimated_hours)
merged_data = pd.merge(clickup_df, float_df, on=['name', 'project'], how='inner')
fact_allocations = merged_data.groupby(['name', 'project', 'date'], as_index=False).agg({
    'hours': 'sum',  # this is from ClickUp (Tracked Hours)
    'estimated_hours': 'sum'  # this is rom Float (Allocated Hours)
}).rename(columns={'hours': 'Tracked_Hours', 'estimated_hours': 'Allocated_Hours'})

In [ ]:
merged_data

In [ ]:
fact_allocations

In [ ]:
# Map IDs to the fact table
fact_allocations['Fact_ID'] = range(1, len(fact_allocations) + 1)
fact_allocations = pd.merge(fact_allocations, dim_team_members, on='name', how='left')
fact_allocations = pd.merge(fact_allocations, dim_projects, on='project', how='left')
fact_allocations = pd.merge(fact_allocations, dim_date, left_on='date', right_on='Date', how='left')

In [ ]:
fact_allocations = fact_allocations[['Fact_ID','Team_Member_ID', 'Project_ID', 'Date_ID', 'Tracked_Hours', 'Allocated_Hours']]

In [ ]:
fact_allocations

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres:liltims@localhost:5433/postgres')

In [ ]:
engine.connect()

In [ ]:
dim_team_members.to_sql('Dim_Team_Members', engine, if_exists='replace', index=False)
dim_projects.to_sql('Dim_Projects', engine, if_exists='replace', index=False)
dim_date.to_sql('Dim_Date', engine, if_exists='replace', index=False)
fact_allocations.to_sql('Fact_Allocations', engine, if_exists='replace', index=False)