In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
import psycopg2

In [4]:
df1 = pd.read_csv('ClickUp - clickup.csv.csv')
df2 = pd.read_csv('Float - allocations.csv.csv')

In [5]:
df1

,Client,Project,Name,Task,Date,Hours,Note,Billable
0,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-03,6.5,Refined design elements,Yes
1,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-04,6.5,Drafted initial design concepts,Yes
2,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-05,6.0,Drafted initial design concepts,Yes
3,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-06,7.0,Made revisions to design based on feedback,Yes
4,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-07,7.0,Made revisions to design based on feedback,Yes
...,...,...,...,...,...,...,...,...
451,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-24,0.0,Checked in on project progress,Yes
452,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-25,0.0,Communicated with client,Yes
453,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-26,0.0,Checked in on project progress,Yes
454,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-27,0.0,Facilitated team meeting,Yes
455,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-28,0.0,Facilitated team meeting,Yes

In [6]:
df2

,Client,Project,Role,Name,Task,Start Date,End Date,Estimated Hours
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92
5,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112
6,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32
7,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24
8,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182
9,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182
10,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52
11,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0
12,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36

In [7]:
pd.io.sql.get_schema(df1, name='ClickUp - clickup.csv.csv')

'CREATE TABLE "ClickUp - clickup.csv.csv" (\n"Client" TEXT,\n  "Project" TEXT,\n  "Name" TEXT,\n  "Task" TEXT,\n  "Date" TEXT,\n  "Hours" REAL,\n  "Note" TEXT,\n  "Billable" TEXT\n)'

In [8]:
print(pd.io.sql.get_schema(df1, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TEXT,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT
)

In [9]:
pd.io.sql.get_schema(df2, name='Float - allocations.csv.csv')

'CREATE TABLE "Float - allocations.csv.csv" (\n"Client" TEXT,\n  "Project" TEXT,\n  "Role" TEXT,\n  "Name" TEXT,\n  "Task" TEXT,\n  "Start Date" TEXT,\n  "End Date" TEXT,\n  "Estimated Hours" INTEGER\n)'

In [10]:
print(pd.io.sql.get_schema(df2, name='Float - allocations.csv.csv'))

CREATE TABLE "Float - allocations.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Role" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Start Date" TEXT,
  "End Date" TEXT,
  "Estimated Hours" INTEGER
)

In [11]:
df1.Date = pd.to_datetime(df1.Date)

In [12]:
print(pd.io.sql.get_schema(df1, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TIMESTAMP,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT
)

In [13]:
df2['Start Date'] = pd.to_datetime(df2['Start Date'])
df2['End Date'] = pd.to_datetime(df2['End Date'])

In [14]:
print(pd.io.sql.get_schema(df2, name='Float - allocations.csv.csv'))

CREATE TABLE "Float - allocations.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Role" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Start Date" TIMESTAMP,
  "End Date" TIMESTAMP,
  "Estimated Hours" INTEGER
)

In [15]:
print(df1.dtypes)
print(df2.dtypes)

Client              object
Project             object
Name                object
Task                object
Date        datetime64[ns]
Hours              float64
Note                object
Billable            object
dtype: object
Client                     object
Project                    object
Role                       object
Name                       object
Task                       object
Start Date         datetime64[ns]
End Date           datetime64[ns]
Estimated Hours             int64
dtype: object

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://postgres:liltims@localhost:5433/postgres')

In [18]:
engine.connect()

In [19]:

df_iter_1 = pd.read_csv('ClickUp - clickup.csv.csv', iterator=True)

In [20]:
df_iter_2 = pd.read_csv('Float - allocations.csv.csv', iterator=True)

In [21]:
df_iter_2
df_iter_1

In [22]:
df1 = next(df_iter_1)
df2 = next(df_iter_2)

In [23]:
df1

,Client,Project,Name,Task,Date,Hours,Note,Billable
0,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-03,6.5,Refined design elements,Yes
1,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-04,6.5,Drafted initial design concepts,Yes
2,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-05,6.0,Drafted initial design concepts,Yes
3,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-06,7.0,Made revisions to design based on feedback,Yes
4,Client 1,Website Development,Isabella Rodriguez,Design,2023-07-07,7.0,Made revisions to design based on feedback,Yes
...,...,...,...,...,...,...,...,...
451,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-24,0.0,Checked in on project progress,Yes
452,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-25,0.0,Communicated with client,Yes
453,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-26,0.0,Checked in on project progress,Yes
454,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-27,0.0,Facilitated team meeting,Yes
455,Client 2,Book Localization to Ukraine,Ali Khan,Management,2023-08-28,0.0,Facilitated team meeting,Yes

In [24]:
df2

,Client,Project,Role,Name,Task,Start Date,End Date,Estimated Hours
0,Client 1,Website Development,Product Designer,Isabella Rodriguez,Design,2023-07-03,2023-07-24,112
1,Client 1,Website Development,Design Manager,John Smith,Design,2023-07-03,2023-07-24,24
2,Client 1,Website Development,Front End Engineer,Liu Wei,Development,2023-07-31,2023-08-28,189
3,Client 1,Website Development,QA Engineer,Emily Patel,Testing,2023-08-21,2023-09-04,77
4,Client 1,Website Development,Project Manager,Ali Khan,Management,2023-07-03,2023-09-04,92
5,Client 1,Brand Guideline,Brand Designer,Xu Li,Design,2023-07-03,2023-07-24,112
6,Client 1,Brand Guideline,Design Manager,John Smith,Design,2023-07-03,2023-07-24,32
7,Client 1,Brand Guideline,Project Manager,Ali Khan,Management,2023-07-03,2023-07-24,24
8,Client 2,Book Localization to Ukraine,Localization Specialist UK,Vladyslav Shevchenko,Localization,2023-07-10,2023-08-14,182
9,Client 2,Book Localization to Ukraine,Brand Designer,Xu Li,Design,2023-07-24,2023-08-28,182
10,Client 2,Book Localization to Ukraine,Design Manager,John Smith,Design,2023-07-24,2023-08-28,52
11,Client 2,Book Localization to Ukraine,Brand Designer,Ana Suarez,Design,2023-07-24,2023-08-28,0
12,Client 2,Book Localization to Ukraine,Project Manager,Ali Khan,Management,2023-07-10,2023-08-28,36

In [25]:
df1.Date = pd.to_datetime(df1.Date)
for column in df1.columns:
    if column not in ['Date','Hours']:
        df1[column] = df1[column].astype(str)
from pandas.io.sql import get_schema
print(get_schema(df1, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TIMESTAMP,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT
)

In [26]:
print(pd.io.sql.get_schema(df1, name='ClickUp - clickup.csv.csv'))

CREATE TABLE "ClickUp - clickup.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Date" TIMESTAMP,
  "Hours" REAL,
  "Note" TEXT,
  "Billable" TEXT
)

In [27]:
df2['Start Date'] = pd.to_datetime(df2['Start Date'])
df2['End Date'] = pd.to_datetime(df2['End Date'])

for column in df2.columns:
    if column not in ['Start Date', 'End Date', 'Estimated Hours']:
        df2[column] = df2[column].astype(str)
print(df2.columns)

Index(['Client', 'Project', 'Role', 'Name', 'Task', 'Start Date', 'End Date',
       'Estimated Hours'],
      dtype='object')

In [28]:
print(pd.io.sql.get_schema(df2, name='Float - allocations.csv.csv'))

CREATE TABLE "Float - allocations.csv.csv" (
"Client" TEXT,
  "Project" TEXT,
  "Role" TEXT,
  "Name" TEXT,
  "Task" TEXT,
  "Start Date" TIMESTAMP,
  "End Date" TIMESTAMP,
  "Estimated Hours" INTEGER
)

In [29]:

df1.to_sql(name='ClickUp', con=engine, if_exists='replace')

456

In [30]:
df2.to_sql(name='Float', con=engine, if_exists='replace')

13

In [31]:

%time df1.to_sql(name='ClickUp', con=engine, if_exists='append')

CPU times: user 49.7 ms, sys: 12.6 ms, total: 62.2 ms
Wall time: 101 ms

456

In [32]:
%time df2.to_sql(name='Float', con=engine, if_exists='append')

CPU times: user 32.6 ms, sys: 453 µs, total: 33.1 ms
Wall time: 56.3 ms

13